            *{
                box-sizing: border-box;
                padding: 0px;
                margin: 0px;
            }
            .sec3{
                display:flex;
                width:100%;
                height: 70vh;
                background-color: #222342;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-image: url("img-2.jpg") ;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                opacity: 0.9;
                position: relative;
                background-blend-mode: multiply;
            }
            .s3main{
                display: flex;
                width: 80%;
                justify-content: center;
                align-items: center;
            }
            .s3row2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #f7f7f0;
                padding-top: 40px;
            }
            .s3r1col2{
                font-size: 15px;
                padding-left: 20px;
                padding-top: 20px;

            }
            .s3r1col3{
                font-size: 10px;
                padding-left: 90px;
                padding-top: 20px;
            }
            .s3r3{
                color: #f7f7f0;
                border: 2px solid white;
                border-radius: 10px;
                padding: 4px;
                
                margin-top: 40px;
            }
            .s3r3:hover{
                background-color: #d0a904;
            }
            .main1{
                display: flex;
                background-color: #f5f4fa;
                width: 100%;
                flex-direction: column;
                padding-left: 120px;
            }
            .m1col1{
                    padding-top: 40px;
                    font-size: 40px;
                    color: #474a5b;

            }
            .m1col2{
                    font-size: 40px;
                    color: #474a5b;
            }
            .m1col3{
                padding-top: 20px;
                font-size: 15px;
                color: #474a5b;
            }
            .m1col4{
                padding-top: 60px;
                display: flex;
                padding-left: 80px;
                justify-content: space-between;
                width:35% ;

            }
            .m1col5{
                display: flex;
                padding-top: 30px;
                width: 90%;
            }
            .m1c5col1{
                width: 30%;
                margin-right: 15px;
            }

             .fig4{
                width:100%;
                height:44.6vh;
                margin-bottom:15px;
             }
             .fig5{
                width:100%;
                height: 21vh;
                margin-bottom: 15px;

             }
             .sec4{
                display:flex;
                width:100%;
                height: 40vh;
                background-color: #222342;
                position: relative;
                justify-content: center;
                align-items: center;
                background-image: url("img-4.jpg") ;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                opacity: 0.9;
                position: relative;
                background-blend-mode: multiply;
             }
             .s4col1{
                display: flex;
                flex-direction:column ;
                align-items: center;
                justify-content:space-around;
                width: 20%;
            }
            .s4c1row1{
                border-radius: 50%;
            }
            .s4c1row2{
                padding-top: 10px;
                color:white;
            }
            .s4c1row3{
                color: white;
                font-size: 30px;
            }
            .s4c1row2:hover{
                background-color: #d0a904;
            }
            .s4c1row3:hover{
                background-color: #d0a904;
            }
            .sec5{
                display:flex;
                flex-direction: column;
                background-color: #f5f4fa;
                justify-content: center;
                align-items: center;
                width: 100%;
                color: #464156;
                margin-bottom:30px
            }
            .s5row1{
                padding-top: 40px;
                font-size: 40px;
                padding-bottom: 40px;
            }
            .s5row3{
                display: flex;
                justify-content: center;
                align-items: center;
                width:90%;
                margin-top: 30px;
            }
            .s5r3col{
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 2px solid #fbfaff;
                width: 30%;
                background-color: #fbfaff;
                margin-right: 15px;

            }
            .s5r3crow1{
                font-size: 30px;
            }
            .s5r3crow2{
                 font-size: 10px;
                 padding-top: 10px;
            }
            .s5r3crow4{
                font-size: 40px;
                padding-bottom: 15px;
            }
            .s5r3crow5{
                font-size: 15px;
                padding-bottom: 10px;
            }
             .opa{
                opacity: 0.2;
             }
             .s5r3crow9{
                border: 2px solid black;
                border-radius: 20px;
                padding: 10px;
                margin-bottom: 15px;
             }
              .s5r3crow9:hover{
                background-color: #d0a904;
                color: #f7f7f0;
              }
              .sec6{
                display:flex;
                width:100%;
                height: 60vh;
                background-color: #222342;
                background-image: url("img-3.jpg") ;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                opacity: 0.9;
                position: relative;
                background-blend-mode: multiply;
                flex-direction: column;
                justify-content: center;
             }
             .s6row1{display: flex;
                height:20%;
                width: 40%;
        
             }
             .s6r1col1{
                font-size: 35px;
                color: white;
                padding: 60px;
                padding-left: 60px; 
                align-items: flex-end;
            }
            .s6r1col2{
                display: flex;
                width: 60%;

            }

             
             .sec6img{
                height: 15%;
                width: 40%;
                background-color: #3a376c;
            }
             .sec6img2{
                height: 15%;
                width: 40%;
                background-color: #3a376c;
             }
             .sec6img:hover{
                background-color: #d0a904;
             }
             .sec6img2:hover{
                background-color: #d0a904;
             }
             .s6row2{
                font-size: 10px;
                color: white;
             }